<div class="control-section">
    <div>
        <div id="default_title_bar" class="e-de-ctn-title"></div>
        <div>
            <ejs-documenteditorcontainer #documenteditor_default [enableToolbar]=true [locale]="culture" (created)="onCreate()" (documentChange)="onDocumentChange()" height="90vh" style="display:block;"></ejs-documenteditorcontainer>
        </div>
    </div>
</div>
<script>
    window.onbeforeunload = function () {
        return 'Want to save your changes?';
    };    
</script>